
#whitelist,#blacklist,#settings,#add {
    background-color: #424242; 
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    margin: 5px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}
a#footer {
    color: #424242;
    font-size: 0.8em;
    text-align: left;
}
