
#whitelist,#blacklist,#settings,#add {
    background-color: #424242; 
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    margin: 5px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}
a#footer {
    color: #424242;
    font-size: 0.8em;
    text-align: left;
}

#blacklist:hover,#add:hover {
    background-color: #6b6b6b;
    cursor: pointer;
    -webkit-transition: background-color 30ms linear;
    -ms-transition: background-color 30ms linear;
    transition: background-color 30ms linear;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #mdc-list-item--activated{
    background-color: aquamarine;
  }

  #textbox1 {
    width: 70%;
    vertical-align: middle;

  }